@import url(m_style.css);
.container,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.88rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: url("../img/juxin-1.png") no-repeat;
}
.container header .left {
  margin-left: 0.4rem;
  line-height: 0.88rem;
}
.container header .left img {
  width: 0.35rem;
}
.container header p {
  margin-left: 2.65rem;
  font-size: 0.33rem;
  color: white;
  line-height: 0.88rem;
}
.container section {
  -webkit-box-flex: 1;
}
.container section .font {
  width: 6.7rem;
  height: 0.83rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-left: 0.4rem;
  margin-top: 0.72rem;
  -webkit-box-align: center;
}
.container section .font span {
  display: block;
  font-size: 0.27rem;
  color: #999999;
  line-height: 0.37rem;
}
.container section .font span a {
  color: #000000;
}
.container section .text {
  width: 6.7rem;
  height: 2.41rem;
  background: none;
  margin-top: 1.1rem;
  margin-left: 0.4rem;
}
.container section .text .one {
  width: 6.7rem;
  height: 0.67rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-align: center;
}
.container section .text .one span {
  font-size: 0.26rem;
  color: #999999;
  margin-left: 0.2rem;
}
.container section .text .one .user {
  width: 5.25rem;
  height: 0.62rem;
  background: none;
  border: none;
}
.container section .text .two {
  width: 6.7rem;
  height: 0.67rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 0.22rem;
  border-bottom: 1px solid #fabd6d;
  -webkit-box-align: center;
}
.container section .text .two span {
  font-size: 0.27rem;
  margin-left: 0.2rem;
}
.container section .text .two .pass {
  width: 5.25rem;
  height: 0.62rem;
  background: none;
  border: none;
}
.container section .text .three {
  width: 6.7rem;
  height: 0.67rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 0.22rem;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-align: center;
}
.container section .text .three span {
  font-size: 0.27rem;
  margin-left: 0.2rem;
}
.container section .text .three .sure_pass {
  width: 5.25rem;
  height: 0.62rem;
  background: none;
  border: none;
}
.container section .back {
  width: 6.71rem;
  height: 0.89rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: url(../img/yuanjuxin_1.png) no-repeat;
  background-size: 6.71rem,0.89rem;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-left: 0.4rem;
  margin-top: 2.55rem;
}
.container section .back a {
  color: white;
  font-size: 0.29rem;
}
